@import 'variables';

html, body, #root {
  height: 100%;
  width: 100%;
  background: $background-col;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

#root .container {
  height: 100%;
  color: $text-color;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .9);
}

#root .container-view {
  padding: 20px;
}


