// General styles for call list
.call-list {
  padding-top: 14em;
  height: 100%;
  width: 98%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.call-list::-webkit-scrollbar {
  display: none;
}

.call-item, .call-item--detailed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px dotted #ddd;
  .call-status {
    width: 7em;
  }
  .button {
    font-size: 1.5em;
    width: 4.5em;
    background-color: rgba(253, 253, 253, 0.5);
    border: 1px solid white;
    padding: 8px;
    border-radius: 0.2em;
    &:hover {
      border: 2px solid green;
      cursor: pointer;
    }
  }
}

.call-item {
  font-size: 3em;
  &:hover {
    background-color: rgba(255, 255, 255, 0.153);
  }
}

// For detailed component styles
.call-item--detailed {
  flex-direction: column;
  height: 9em;
  font-size: 4em;
  background-color: rgba(255, 255, 255, 0.153);
  justify-content: flex-start;
  .call-info {
    display: flex;
    width: 100%;
    height: 2em;
    flex-direction: row;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
  }
  .call-details {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    font-size: .8em;
  }
  .call-archive {
    font-size: .8em;
    color: rgba(253, 253, 253, 0.5);
  }
}

// Specific selectors below

.call-number {
  width: 8em;
}

.call-duration {
  padding: 5px;
}

.call-type { 
  padding: 5px;
}

.call-via {
  padding: 5px;
}

.call-time {
  color: #999;
  margin-right: 10px;
  border: 1px dotted whitesmoke;
  border-radius: 5%;
  height: 1.5em;
  font-size: 1em;
}

.call-status {
  display: flex;
  margin: 1em;
  height: 4em;
  font-size: 0.5em;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
// Media queries for responsive styles

@media only screen and (min-device-width: 600px) {
  .call-list {
    padding-top: 10em;
  }

  .call-item, .call-item--detailed {
    font-size: 2em;
  }

  .call-item--detailed {
    height: 8em;
  }

  .call-item--detailed .call-details {
    flex-direction: row;
    justify-content: space-between;
  }
}